/Carthage
/Cartfile.resolved
/.DS_Store
/SwiftRestful/.DS_Store
/SwiftRestfulTests/.DS_Store
/SwiftRestful/JsonConversion/.DS_Store
/SwiftRestful.xcodeproj/project.xcworkspace/xcuserdata/diego.xcuserdatad/UserInterfaceState.xcuserstate